{% extends 'base.html.twig' %}

{% block title %}Affichage quack{% endblock %}

{% block body %}
    <table>
        <thead>
        <th>Number</th>
        <th>Content</th>
        <th>Date</th>
        </thead>
            <tbody>
            <td>{{ quack.id }}</td>
            <td>{{ quack.content }}</td>
            <td>{{ quack.createdAt |date('Y-m-d') }}</td>
            </tbody>
    </table>
{% endblock %}