{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ form_title }}</h1>
        {{ form(form_quack) }}

    <p><a href="{{ path('quacks') }}">Afficher la liste de QUACKKKKK</a></p>
{% endblock %}